<!doctype html>
<html lang="eng">
<head>
  <meta charset="utf-8">
</head>


{% block body %} 
   <h2>Liste des unités</h2>  
   <table border ="2" class = "table">  
      <tr>  
         
         <th>ID</th>  
         <th>Name</th>  
         <th>Emplacement</th> 
         <th>Delete</th>
         <th>Update</th>
      </tr>  
      {% for u in Unite %} 
      <tr>  
      
         <td>{{ u.id }}</td>   
         <td>{{ u.name }}</td>
         <td>{{ u.emplacement }}</td>  
         <td><a href="{{ path('deleteunite',{'id':u.id}) }}">Delete</a></td> 
         <td><a href="{{ path('updateunite',{'id':u.id}) }}">Update</a></td> 
         
         
      </tr>  
      {% endfor %} 
   </table> 
{% endblock %}  

</html>